
<% if @ms.nil? %>
  <h4 align="center">No Record Found </h4>
<% else %>
  <% if @ms.empty? %>
  <h4 align="center">No Record Found </h4>
<% else %>
  <div class="col-md-1"></div>
      <table align="center" class="table table-hover" style="width:1000px">
      <tr>
        <th col-md-2> Book Number </th>
        <th col-md-2> Borrewed by </th>
        <th col-md-2> Status </th>
        <th col-md-2> Issue date </th>
        <th col-md-2> Due date </th>
      </tr> 
        <%@ms.each do |f|%>
          <tr>
            <td col-md-2><%= f.book.book_no %></td>
            <td col-md-2><%= f.student.first_name %></td>
            <td col-md-2><%= f.status %></td>
            <td col-md-2><%= f.issue_date %></td>
            <td col-md-2><%= f.due_date %></td>
          </tr>
        <%end%>  
      </table>
    <% end %>
<%end%>

