<div id="content-header">
  <h1>Library Management</h1>
  
  <div id="inner-tab-menu">
    <ul>
      
        <li class='themed_bg themed-dark-hover-background'><%= link_to 'Add Books',library_management_add_books_path%></li>
      
    </ul>
  </div>
  
  
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div> 

<div id="page-yield">

 <div class="bread_crumb">
    <%=link_to "Home",new_user_session_path%> &raquo;<%=link_to "Library",library_management_library_dashboard_path%> &raquo;Manage Books
  </div>

  <div id="manage_books_form">
  <%= form_for :sort_by , url: library_management_books_sorted_list_path ,method: :post ,remote:true do |form|%>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  	<div class="label-field-pair" style="float:left" >
  	 <%=form.label :Filterby ,"Filter by" %>

  	  
  	 <div class="text-input-bg" style="float:left" >
  	 <%= form.select :All , options_for_select([["All","All"],["Available","Available"],["Borrowed","Borrowed"],["Binding","Binding"],["Lost","Lost"],["Reserved","Reserved"]]) ,:class => 'genForm_dropBox'%>

  		 </div>

  		 <div style="float:left" >
		<%=form.submit "Filter",{:class=>"submit_button",style: "margin-left:130px;float:left;width:54px;height:34px"}%>
		</div>


		</div>
  	  
	<% end %>
  </div>

   <div id="books">
   <%begin%>
  <%@count= @books.count%>
  <%if @count>0.to_i%>
		<p class="book_count">Total Books : <b><%= @count%></b></p>
    <br><br>
		 <table id="listing" align="center" width="980px"  cellpadding="1" cellspacing="1" >
     <tbody>
        <tr class="tr-head" width="940px" height="28px">

          <td> Book Number </td>
          <td>Title </td>
          <td>Author</td>
          <td>Tags </td>
          <td>Status </td>
          <td></td>
        </tr>
        <tr class="tr-odd"></tr>
        <%begin%>
      <% @books.each do |b|%>
      <tr class="tr-blank">
          <td class="col-3"><%=b.book_no%></td>
          <td class="col-7"><%=b.title%> </td>
          <td class="col-7"><%=b.author%></td>
          <td class="col-7"><%Tag.where(id: BooksTag.where(book_id: b).pluck(:tag_id)).each do|booktag| %>
            <%=booktag.name%>
            <%  end %></td>
          <td class="col-1"><%=b.status%></td>
          <td class="col-3"><small>
            <%= link_to 'View',library_management_view_selected_book_path(b)%>|
            <% if b.status=="Borrowed" %>
               <span class="small-strike">Edit |</span>
               <% else %>
               <%= link_to 'Edit',library_management_edit_book_path(b)%>|
            <% end %>
            <%= link_to 'Delete',library_management_delete_book_path(b),method: :delete,data: { confirm: 'Are you sure?' }%>
           </small></td>
        </tr>
      <%end%>


      <%rescue Exception=>e%>
<%end%>
      </tbody>
        </table>
        <%else%>
<p class="flash-msg" style="margin-left: 160px;"> No books found.Try Again</p>
<%end%>
<%rescue Exception=>e%>
<p class="flash-msg" style="margin-left: 160px;"> No books found.Try Again</p>
 <%end%>
        <div class="pagination"><a href="/books?page=1" class="prev_page" rel="prev start">&laquo; Previous</a> <a href="/books?page=1" rel="prev start">1</a> <span class="current">2</span> <span class="disabled next_page">Next &raquo;</span></div>

    </div>

   </div>

 </div>
<div class="extender"></div>
  <div id="footer">
      <div id="footer_logo">
        <div id="powered_by">
          Powered by <a href="http://www.axenic.co.in/" target="_blank", class="themed_text">Educulture</a>
        </div>
      </div>
  </div>
