
<div id="content-header">
  <h1>Library Management</h1>
  
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>  
</div>

<div id="page-yield">
<div class="bread_crumb">
    <%=link_to "Home",new_user_session_path%> &raquo;<%=link_to "Library",library_management_library_dashboard_path%> &raquo;Issue Books
  </div>
<div class="bread_crumb">
  </div>
    <div id="box">
    <div class="link-box">
      <div class="link-heading"><%=link_to "Manage Books", library_management_manage_books_path%> </div>
      <div class="link-descr">Manage library books</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%=link_to "Search book", library_management_search_books_path%> </div>
      <div class="link-descr">Search for a book here</div>
    </div>
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Return book", library_management_return_books_path%></div>
        <div class="link-descr">Manage book returns</div>
      </div>
    
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Issue books", library_management_search_book_for_issue_path%></div>
        <div class="link-descr">Issue books here</div>
      </div>
    
    
      <div class="link-box">
      <div class="link-heading"><%=link_to "Manage barcode", library_management_manage_barcodes_path%></div>
      <div class="link-descr">Manage book's barcode</div>
      </div>
    
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Library setting", library_management_library_card_settings_path%></div>
        <div class="link-descr">Initial library setting for courses</div>
      </div>
    
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Movement Log", library_management_movement_log_path%></div>
        <div class="link-descr">Issued/Renewed book status</div>
      </div>
    
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Book renewal", library_management_book_renewal_path%></div>
        <div class="link-descr">Renew books here</div>
      </div>
    
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Manage Book Additional Detail", library_management_manage_additional_details_path%></div>
        <div class="link-descr">Additional details</div>
      </div>
    
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Library fines", fines_library_fines_path%></div>
        <div class="link-descr">Library fines</div>
      </div>
    
    
      <div class="link-box">
        <div class="link-heading"><%=link_to "Manage Tags", tags_manage_tags_path%></div>
        <div class="link-descr">Manage Tags</div>
      </div>
    
  </div>
</div>
 </div>


 </div>
 