<div id="content-header">
  <h1>Library</h1>
  <h3>Book Renewal</h3>
    <div id="app-back-button">
      <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
    </div>

    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<div id="page-yield">
<div align="center">
<ul class="errors3"></ul>
<% if @issue_book.employee_id.nil? %>
    <%if @issue_book.due_date <=Date.today%>
        <% day=(Date.today-@issue_book.due_date).to_i%>
        <div class="name exceeded"> Due date has been exceeded by <%= day%> and fine amount per day is <%=@fine_amount%></div><br>
    <%end%>

    
<%end%>
</div>



<%= form_for @issue_book,url:{action: 'update_due_date',id:@issue_book.id} do |c|%>
    <table class="table" style="width:500px" align="center">
    <tbody>
    <% if @issue_book.employee_id.nil? %>
    <%if @issue_book.due_date <=Date.today%>
    <td><%=c.label :'fine amount'%></td>
    <td><%=c.text_field :amount,value:@due_amount%></td>
    <%end%>
    <%end%>

    <tr>
      <td><%= c.label :'book number'%></td>
      <td><%= text_field_tag :book_no,@issue_book.book.book_no,readonly:true %></td>
    </tr>

    <tr>
      <td><%= c.label :title%></td>
      <td><%= text_field_tag :book_title,@issue_book.book.title,readonly:true %></td>
    </tr>
    <% if @issue_book.student_id.nil? %>
    <tr>
      <td><%= c.label :employee_name %></td>
      <td><%= text_field_tag :first_name,@issue_book.employee.first_name,readonly:true %></td>
    </tr>

    <tr>
      <td><%= c.label :'Employee No'%></td>
      <td><%= text_field_tag :employee_number,@issue_book.employee.employee_number,readonly:true %></td>
    </tr>
    <%else%>
    <tr>
      <td><%= c.label :student_name %></td>
      <td><%= text_field_tag :first_name,@issue_book.student.first_name,readonly:true %></td>
    </tr>

    <tr>
      <td><%= c.label :'admission No'%></td>
      <td><%= text_field_tag :admission_no,@issue_book.student.admission_no,readonly:true %></td>
    </tr>
    <%end%>
    <tr>
      <td><%= c.label :'issue date'%></td>
      <td><%= c.date_field :issue_date,readonly:true %></td>
    </tr>

    <tr>
      <td><%= c.label :'due date'%></td>
      <td><%= c.date_field :due_date %></td>
    </tr>

    <% if @issue_book.employee_id.nil? %>
       <% if @issue_book.no_of_time_book_renewed.nil? %>
          <td><%= c.label :'renewal counter'%></td>
          <td><%= c.text_field :no_of_time_book_renewed,value:'1',readonly:true %></td>
        <%else%>
        <td><%= c.label :'renewal counter'%></td>
          <td><%= c.text_field :no_of_time_book_renewed,value:@issue_book.no_of_time_book_renewed+1,readonly:true %></td>
        
        <%end%>
    <%end%> 
    
    <tr>
      <td><%=c.submit "Renew",{:class=>"submit_button",style: "margin-left:10px;"}%></td>
      
    </tr>
  </tbody>
</table>
</div>
<%end%></div>
