<br><br>
<%=form_for :barcode, url:barcodes_manage_barcode_path ,method: :get,remote:true do |f| %>
 <p><%= f.label :Search_By%>
 <%= select_tag :search,options_for_select([["Book Number","book_number"],["Title","title"],["Author","author"],["Tag","tag"]])%>

 <%= text_field_tag :value%>
 <%= f.submit :"Search"%></p>
<%end%>
 <div id="show"></div>
 