
 <%=form_for :tag ,:method => 'get' %>
<br>
	<p><%= label_tag :Search%>
	<%= text_field_tag :name, params[:search]%>
 </p>

 <%end%>
<br>

<table style="width:500px">
  	<tr>
  		<th> Sr.No</th>
  		<th>Tags </th>
  		<th></th>
  	</tr>
  	<%= @tags.each do |t|%>
  	 <tr>
  	 	<td><%= t.id %></td>
  	 	<td><%= t.name%></td>
  	 	<td></td>
  	 </tr>
  	<%end%>
  	</table>




